html, body {
    height: 100%;
    min-height: 100%;
    font-family: "PT Sans Caption", sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #a37b74;
}

h3 {
    font-size: 40px;
    margin: 10px 0 10px 0;
}

.wrapper {
    width: 960px;
    margin: 0px auto;
}

.ribbon {
    color: white;
}

.ribbon p {
    margin-top: 0px;
}

.slideshow-wrap {
    background: rgb(69, 72, 77);
}

.slideshow-inner {
    overflow: hidden;
}

.slideshow {
    margin: 0;
    padding: 0;
    width: 6720px;
}

.slideshow li {
    list-style-type: none;
    float: left;
    width: 960px;
}

.slideshow img {
    float: right;
    margin: 24px;
    width: 240px;
    height: 240px;
}

.aligner {
    padding: 10px;
}

.slideshow-buttons {
    text-align: right;
    margin: 3px;
    padding: 3px;
}

.slideshow-buttons li {
    display: inline;
    line-height: 100%;
}


.slideshow-buttons li a {
    padding: 1px 3px;
    margin: 0 1px;
    text-decoration: none;
    font-size: 0.8em;
}

.slideshow-buttons li.current a {
    background-color: #282828;
}

.slideshow-buttons li.current a:hover {
    color: #ffffff;
}
