html, body {
    height: 100%;
    min-height: 100%;
    font-family: "PT Sans Caption", sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

a {
    color: #ffffff;
}

a:hover {
    color: #a37b74;
}

h3 {
    font-size: 40px;
    margin: 10px 0 10px 0;
}

.wrapper {
  /*  position: relative;
    width: 960px;
    margin: 0px auto;*/
}

.ribbon {
    color: white;

}

.ribbon p {
    margin-top: 0px;
}

.slideshow-wrap {
    background: rgb(69, 72, 77);
    overflow: hidden;
    width: 960px;
    margin: 0px auto;
    position: relative;
}

.slideshow-inner {
    clear: both;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
}

.slideshow {
    margin: 0;
    padding: 0;
    width: 7680px;
    position: relative;
}

.slideshow li {
    display: block;
    list-style-type: none;
    float: left;
    width: 960px;
}

.slideshow img {
    float: right;
    margin: 24px;
    width: 240px;
    height: 240px;
}

.aligner {
    padding: 10px;
}

.slideshow-buttons {
    text-align: right;
    margin: 3px;
    padding: 3px;
}

.slideshow-buttons li {
    display: inline-block;
    margin: 2px;
    line-height: 100%;
    padding: 0;
    background: #000000;
    width: 10px;
    height: 10px;
    cursor: pointer;
}
/*
.slideshow-buttons li a {
    padding: 3px;
    margin: 5px;
    text-decoration: none;
    font-size: 0.8em;
    text-align: center;
}*/

.slideshow-buttons li.current {
    background: none repeat scroll 0 0 #e8691e;
}

.slideshow-buttons li.current a:hover {
    color: #ffffff;
}

.nav-left, .nav-right, .nav-play {
    cursor: pointer;
    opacity: 0.2;
    background: no-repeat scroll #707070;
    bottom: 10%;
    height: 48px;
    overflow: hidden;
    position: absolute;
    width: 47px;
}

.nav-play {
    left: 50%;
}
.nav-right {
    right: 0%;
}