html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}
/*** v-align object ***/
.valign { /* main container */
    /*width: 640px;*/
    /*height: 480px;*/
    height: 100%;
    width: 100%;

    /* border: 1px solid red;*/
    background: #eee;

    display: table;
    text-align: center;
    vertical-align: middle;
}
/** object holder **/
.valign .object-holder { /* sub container */
    display: table-cell;
    background: red;
    /* border: 1px solid transparent;*/
    vertical-align: middle;
    height: 100%;
}
.valign .object {
    margin: 0 auto;
    /*width: 64px;*/
    /*height: 48px;*/
    background: #aeaeae;
    border: 1px solid #fff;
    margin-top: expression((parentNode.offsetHeight - this.offsetHeight)<=0 ? '0px':(parentNode.offsetHeight/2 - this.offsetHeight/2));
}