@{
    ViewBag.Title = "Article";
}

<div class="article">
    <div class="header">
        <div class="carcass">
            <button class="close">
                &times;
            </button>
            <h2>
                article header</h2>
        </div>
    </div>
    <div class="body">
        <div class="carcass">
            <p>
                article body</p>
        </div>
    </div>
    <div class="footer">
        <div class="carcass">
            <p>
                article footer</p>
        </div>
    </div>
</div>
