#form {
    text-align: center;
}

#game {
    /*border: 1px solid black;*/
    display: inline-block;
    text-align: center;
}

#puzzle-box {
    border: 1px solid #000;
    margin: 1px auto;
    visibility: hidden;
}

#reset {
    border: 1px solid #000000;
}

#compile {
     border: 1px solid #000000;
}

#textInput {
    border: 1px solid #000000;
}

.centerwrapper {
    margin: auto;
    border: 1px solid red;
}

.square {
    text-align: center;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    float: left;
    position: relative;
    display: table;
}

.hover {
    border: 1px dashed #778899;
}

.fixing-vertical-align {
    display: table-cell;
    vertical-align: middle;
    font-size: 22px;
    font-family: Times New Roman;
}