#puzzle-box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}

.centerwrapper {
    margin: auto;
    width: 100%;
    height: 100%;
}

.square {
    text-align: center;
    width: 23%;
    height: 23%;
    border: 1px solid #000;
    float: left;
}

span .square {

}​





